html {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #1c1c1c;
    p {
        color: #b3b3b3;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

header {
    max-width: 1440px;
    background-color: white;
    color: #1a1a1a;;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 2rem 0 2rem;
}

main {
    max-width: 1440px;
    margin: 0 2rem;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    width: fit-content;
    a {
        font-size: 1.6rem;
        text-decoration: none;
        font-weight: 600;
        color: #1c1c1c;
        transition: all 0.25s ease-out;
    }
}

li > a:hover {
    color: #d87fcc;
}

.intro {
    margin: 6rem 0 2rem 0;
    h2 {
        font-size: 2.4rem;
        color: #dfdfdf;
        font-weight: 600;
        margin: 0 0 2rem 0;
    }
    p {
        a {
            text-decoration: none;
            font-weight: 600;
            color: #d87fcc;
        }
    }
}

.conclusion {
    margin: 2rem 0 6rem 0;
    h2 {
        font-size: 2.4rem;
        color: #dfdfdf;
        font-weight: 600;
        margin: 4rem 0 1rem 0;
    }
    p {
        margin: 0;
    }
}

.title-container {
    h1 {
    background: -webkit-linear-gradient(white, #d87fcc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.2rem;
    text-wrap: nowrap;
    margin: 0;
    text-wrap: wrap;
    }
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #222222;
    flex: 1;
    align-self: flex-end;
    min-height: 800px;
    transition: all 0.25s ease-out;
    img {
        transition: all 0.25s ease-out;
        filter: saturate(0);
        border-radius: 1rem;
        width: 100%;
        aspect-ratio: 16 / 9;
        object-fit: cover;
    }
}

.card:hover {
    scale: 1.025;
    z-index: 1000;
    img {
        filter: saturate();
    }
}

.card-text {
    flex: 1;
    color: #b3b3b3;
    h3 {
        color: white;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
        font-weight: 800;
        font-size: 2rem;
    }
    h4 {
        margin: 0;
        color: #b3b3b3;
        font-weight: 400;
        font-size: 1.8rem;
    }
    p {
        a {
            text-decoration: none;
            font-weight: 600;
            color: #d87fcc;
        }
        strong {
            font-weight: 400;
            color: white;
        }
    }
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: end;
    a {
        margin-left: auto;
        font-size: 1.4rem;
        font-weight: 500;
        color: #d87fcc;
        text-decoration: none;
        text-wrap: nowrap;    
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a1a1a;
    padding: 2rem;
    margin-bottom: -2rem;
    border-radius: 2rem 2rem 0 0;
    p {
        color: #d87fcc;
        font-weight: 800;
    }
    .social-media {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;
    }
}

@media screen and (max-width: 1024px) {
    
    .card-container {
        grid-template-columns: 1fr;
        gap: 2rem
    }

}

@media screen and (max-width: 530px) {

    html {
        display: block;
        align-items: baseline;
        justify-content: baseline;
    }
    
    ul {
        gap: 2rem;
    }
    
    .intro {
        margin-bottom: 0;
        p {
            margin-bottom: 0;
        }
    }

    .title-container > h1 {
        font-size: 2.4rem;
        margin: 0;
    }

    .card-container::-webkit-scrollbar {
        display: none;
      }

    .card-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        overflow-y: hidden;
        margin: 0 -2rem;
    }

    .card {
        width: 70vw;
        min-height: 950px;
        gap: 0;
        margin: 2rem 0;
    }

    .card:first-child {
        margin-left: 2rem;
    }

    .card:last-of-type {
        margin-right: 2rem;
    }

}