html {
    font-family: 'Inter', Helvetica, sans-serif;
    font-size: 62.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: #1c1c1c;
    font-size: 1.6rem;
    max-width: 1440px;
    margin: 2rem;
}

header {
    max-width: 1440px;
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    width: fit-content;
}

li > a {
    text-decoration: none;
    font-weight: 600;
    color: #1c1c1c;
    transition: all 0.25s ease-out;
}

li > a:hover {
    color: #d87fcc;
}

.intro {
    margin: 6rem 0 2rem 0;
}

.intro > p {
    line-height: 2rem;
    color: #b3b3b3;
}

.intro > p > a {
    text-decoration: none;
    font-weight: 600;
    color: #d87fcc;
}

.title-container {
    margin: 2rem 0;
}

.title-container > h1 {
    color: white;
    font-size: 3.2rem;
    text-wrap: nowrap;
    margin: 0;
}

.title-container > h2 {
    color: #b3b3b3;
    font-weight: 600;
    margin: 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    margin-bottom: 8rem;
}

.card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: #222222;
    flex: 1;
    align-self: flex-end;
    min-height: 650px;
    transition: all 0.25s ease-out;
    filter: saturate(0);
}

.card:hover {
    scale: 1.025;
    filter: saturate();
    z-index: 1000;
}

.card-image > img {
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.card-text {
    flex: 1;
    color: #b3b3b3;
}

.card-text > h3 {
    color: white;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-weight: 800;
    font-size: 2rem;
}

.card-text > h4 {
    margin: 0;
    color: #b3b3b3;
    font-weight: 400;
    font-size: 1.6rem;
}

.card-text > p {
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.card-text > p > a {
    text-decoration: none;
    font-weight: 600;
    color: #d87fcc;
}

.card-text > p > strong {
    font-weight: 400;
    color: white;
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: end;
}

.card-details > a {
    margin-left: auto;
    font-size: 1.4rem;
    font-weight: 500;
    color: #d87fcc;
    text-decoration: none;
    text-wrap: nowrap;    
}

@media screen and (max-width: 1024px) {
    
    .card-container {
        grid-template-columns: 1fr;
        gap: 2rem
    }

}

@media screen and (max-width: 530px) {

    html {
        display: block;
        align-items: baseline;
        justify-content: baseline;
    }
    
    .title-container > h1 {
        font-size: 2.4rem;
        margin: 0;
    }

    .card-container::-webkit-scrollbar {
        display: none;
      }

    .card-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        overflow-y: hidden;
        margin: 0 -2rem;
    }

    .card {
        width: 74.5vw;
        gap: 0;
        margin: 2rem 0;
    }

    .intro,
    .intro > p {
        margin-bottom: 0;
    }

    .card:first-child {
        margin-left: 2rem;
    }

    .card:last-of-type {
        margin-right: 2rem;
    }

}